h1 {
    border-style: double;
    margin: auto;
    text-align: center;
    color: #c0c0c0;
  }

h2 {
    margin: auto;
    text-align: center;
    color: #c0c0c0;
  }

p {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    word-wrap: break-word; /* Handle long words */
    max-width: 600px;
    color: #c0c0c0;
    text-indent: 1.5em;
    font-size: clamp(1rem, 1.3vw, 1.3rem); /* Adjust min, preferred, and max sizes */
    font-family: Garamond, Arial, sans-serif;
}
.link {
    width: 100%;
    text-align: center;

}

body {
    background-color: #000000;
  }

